@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

header {
  background-color: white; }

li {
  list-style: none; }

a {
  color: #9698a6;
  text-decoration: none;
  font-size: 14px; }

.navbarMS {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px; }

.nav-menuMS {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  padding: 0;
  margin: 0;
  border-radius: 5px; }

.nav-linkMS {
  transition: 0.7s ease; }

.nav-linkMS:hover {
  color: black;
  border-bottom: 4px solid;
  padding-bottom: 10px;
  border-image: linear-gradient(to right, #09790c, #00d4ff) 1; }

.hamburger {
  display: none;
  cursor: pointer; }

.bar {
  display: block;
  width: 30px;
  height: 1px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #9698a6; }

.requestHeaderBtn {
  display: block;
  border: none;
  color: white;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 20px;
  background: linear-gradient(90deg, #020024 0%, #09790c 0%, #00d4ff 100%); }

@media (max-width: 768px) {
  .hamburger {
    display: block; }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0; }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg); }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg); }

  .nav-menuMS {
    position: fixed;
    left: -100%;
    top: 100px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 90%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 0 8px; }

  .nav-itemMS {
    margin: 16px 0; }

  .nav-menuMS.active {
    left: 5%; }

  .requestHeaderBtn {
    display: none; }

  .nav-linkMS {
    font-size: 18px;
    color: black; } }
main .intro .imgIntro {
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/bg-intro-mobile.svg"); }
main .intro .txtIntro {
  text-align: center;
  padding: 40px 0 80px;
  background-color: white; }
  main .intro .txtIntro h1 {
    font-size: 40px;
    padding: 0 20px 10px; }
  main .intro .txtIntro p {
    color: #9698a6;
    padding: 0 60px; }
  main .intro .txtIntro .requestMainBtn {
    border: none;
    color: white;
    letter-spacing: 1px;
    font-size: 13px;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 20px;
    background: linear-gradient(90deg, #020024 0%, #09790c 0%, #00d4ff 100%); }
main .whyChooseSection {
  text-align: center;
  padding: 50px 0;
  background-color: #fafafa; }
  main .whyChooseSection .whyFirstArticle {
    margin-bottom: 20px; }
    main .whyChooseSection .whyFirstArticle h2 {
      font-size: 33px; }
    main .whyChooseSection .whyFirstArticle p {
      color: #9698a6;
      padding: 0 40px; }
  main .whyChooseSection .restWhyArticles {
    padding: 10px 0; }
    main .whyChooseSection .restWhyArticles h3 {
      margin: 20px 0;
      font-size: 22px; }
    main .whyChooseSection .restWhyArticles p {
      color: #9698a6;
      padding: 0 30px; }
main .latestSection {
  background-color: white; }
  main .latestSection h4 {
    font-size: 30px;
    text-align: center;
    margin: 80px 0 30px; }
  main .latestSection .latestArticles:last-child {
    padding-bottom: 80px; }
  main .latestSection .latestArticles img {
    padding: 0;
    width: 92%;
    height: 250px;
    margin: auto;
    border-radius: 10px 10px 0 0; }
  main .latestSection .latestArticles .articleTextDivs {
    padding: 30px 60px 30px; }
    main .latestSection .latestArticles .articleTextDivs span {
      color: #9698a6;
      font-size: 10px; }
    main .latestSection .latestArticles .articleTextDivs a {
      display: block;
      margin: 7px 0;
      color: black;
      transition: 0.3s; }
      main .latestSection .latestArticles .articleTextDivs a:hover {
        color: #6bc287; }
    main .latestSection .latestArticles .articleTextDivs p {
      color: #9698a6;
      font-size: 14px; }

footer {
  background-color: #2d314d;
  text-align: center; }
  footer .logoIconsFooter .logoFooter {
    padding-top: 25px; }
  footer .logoIconsFooter .iconsFooter ul {
    display: flex;
    justify-content: space-around;
    padding: 30px 120px;
    margin: 0; }
    footer .logoIconsFooter .iconsFooter ul img {
      transition: 0.5s; }
      footer .logoIconsFooter .iconsFooter ul img:hover {
        filter: brightness(0) saturate(100%) invert(71%) sepia(44%) saturate(388%) hue-rotate(87deg) brightness(90%) contrast(86%); }
  footer .navFooterDiv ul {
    padding: 0;
    margin: 0; }
    footer .navFooterDiv ul li {
      padding: 4px; }
      footer .navFooterDiv ul li a {
        color: white;
        transition: 0.3s; }
        footer .navFooterDiv ul li a:hover {
          color: #6bc287; }
  footer .btnCopyrightsFooter .requestFooterBtn {
    border: none;
    color: white;
    letter-spacing: 1px;
    font-size: 13px;
    padding: 10px 20px;
    margin: 20px 0;
    border-radius: 20px;
    background: linear-gradient(90deg, #020024 0%, #09790c 0%, #00d4ff 100%); }
  footer .btnCopyrightsFooter h6 {
    color: #9698a6;
    font-size: 14px; }
  footer .codedBy p {
    margin: 30px 0 0;
    color: #9698a6;
    font-size: 12px; }

* {
  box-sizing: border-box; }
  * body {
    font-family: 'Public Sans', sans-serif; }
  * button {
    transition: 0.4s; }
    * button:hover {
      opacity: .5; }

/*# sourceMappingURL=main.css.map */
