@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
@import "partials/headerTemplate";
@import "partials/mainSection";
@import "partials/footerSection";

* {
  box-sizing: border-box;
  body {
    font-family: 'Public Sans', sans-serif;
  }
  button {
    transition: 0.4s;
    &:hover {
      opacity: .5;
    }
  }
}
