* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: white;
}

li {
  list-style: none;
}

a {
  color: hsl(233, 8%, 62%);
  text-decoration: none;
  font-size: 14px;
}

.navbarMS {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menuMS {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  padding: 0;
  margin: 0;
  border-radius: 5px;
}

.nav-linkMS {
  transition: 0.7s ease;
}
  .nav-linkMS:hover {
    color: black;
    border-bottom: 4px solid;
    padding-bottom: 10px;
    border-image: linear-gradient(to right, rgba(9,121,12,1), rgba(0,212,255,1)) 1;
  }

.hamburger {
  display: none;
  cursor: pointer;
}
  .bar {
    display: block;
    width: 30px;
    height: 1px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: hsl(233, 8%, 62%);
  }

.requestHeaderBtn {
  display: block;
  border: none;
  color: white;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 20px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,12,1) 0%, rgba(0,212,255,1) 100%);
}


@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menuMS {
    position: fixed;
    left: -100%;
    top: 100px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 90%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 0 8px;
  }

  .nav-itemMS {
    margin: 16px 0;
  }

  .nav-menuMS.active {
    left: 5%;
  }

  .requestHeaderBtn {
    display: none;
  }

  .nav-linkMS {
    font-size: 18px;
    color: black;
  }
}
