main {
  .intro {
    .imgIntro {
      width: 100%;
      height: 300px;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("../images/bg-intro-mobile.svg");
    }
    .txtIntro {
      text-align: center;
      padding: 40px 0 80px;
      background-color: white;
      h1 {
        font-size: 40px;
        padding: 0 20px 10px;
      }
      p {
        color: hsl(233, 8%, 62%);
        padding: 0 60px;
      }
      .requestMainBtn {
        border: none;
        color: white;
        letter-spacing: 1px;
        font-size: 13px;
        padding: 10px 20px;
        margin-top: 10px;
        border-radius: 20px;
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,12,1) 0%, rgba(0,212,255,1) 100%);
      }
    }
  }
  .whyChooseSection {
    text-align: center;
    padding: 50px 0;
    background-color: hsl(0, 0%, 98%);
    .whyFirstArticle {
      margin-bottom: 20px;
      h2 {
        font-size: 33px;
      }
      p {
        color: hsl(233, 8%, 62%);
        padding: 0 40px;
      }
    }
    .restWhyArticles {
      padding: 10px 0;
      h3 {
        margin: 20px 0;
        font-size: 22px;
      }
      p {
        color: hsl(233, 8%, 62%);
        padding: 0 30px;
      }
    }
  }
  .latestSection {
    background-color: white;
    h4 {
      font-size: 30px;
      text-align: center;
      margin: 80px 0 30px;
    }
    .latestArticles {
      &:last-child {
        padding-bottom: 80px;
      }
      img {
        padding: 0;
        width: 92%;
        height: 250px;
        margin: auto;
        border-radius: 10px 10px 0 0;
      }
      .articleTextDivs {
        padding: 30px 60px 30px;
        span {
          color: hsl(233, 8%, 62%);
          font-size: 10px;
        }
        a {
          display: block;
          margin: 7px 0;
          color: black;
          transition: 0.3s;
          &:hover {
            color: #6bc287;
          }
        }
        p {
          color: hsl(233, 8%, 62%);
          font-size: 14px;
        }
      }
    }
  }
}
