main {
  .intro {
    .imgIntro {
      height: 300px;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("../images/bg-intro-mobile.svg");
    }
    .txtIntro {
      text-align: center;
      padding: 40px 0 80px;
      background-color: white;
      h1 {
        font-size: 40px;
        padding: 0 20px 10px;
      }
      p {
        color: hsl(233, 8%, 62%);
        padding: 0 60px;
      }
      .requestMainBtn {
        border: none;
        color: white;
        letter-spacing: 1px;
        font-size: 13px;
        padding: 10px 20px;
        margin-top: 10px;
        border-radius: 20px;
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,12,1) 0%, rgba(0,212,255,1) 100%);
      }
    }
  }
  .whyChooseSection {
    text-align: center;
    padding: 50px 0;
    background-color: hsl(0, 0%, 98%);
    .whyFirstArticle {
      margin-bottom: 20px;
      h2 {
        font-size: 33px;
      }
      p {
        color: hsl(233, 8%, 62%);
        padding: 0 40px;
        br {
          display: none;
        }
      }
    }
    .restWhyArticles {
      padding: 10px 0;
      h3 {
        margin: 20px 0;
        font-size: 22px;
      }
      p {
        color: hsl(233, 8%, 62%);
        padding: 0 30px;
      }
    }
  }
  .latestSection {
    background-color: white;
    h4 {
      font-size: 30px;
      text-align: center;
      margin: 80px 0 30px;
    }
    .latestArticles {
      &:last-child {
        padding-bottom: 80px;
      }
      img {
        padding: 0;
        width: 92%;
        height: 250px;
        margin: auto;
        border-radius: 10px 10px 0 0;
      }
      .articleTextDivs {
        padding: 30px 60px 30px;
        span {
          color: hsl(233, 8%, 62%);
          font-size: 10px;
        }
        a {
          display: block;
          margin: 7px 0;
          color: black;
          transition: 0.3s;
          &:hover {
            color: #6bc287;
          }
        }
        p {
          color: hsl(233, 8%, 62%);
          font-size: 14px;
        }
      }
    }
  }
}



@media (min-width: 1024px) {
  main {
    .intro {
      .imgIntro {
        height: 590px;
        background-image: url("../images/bg-intro-desktop.svg");
        position: relative;
        background-size: cover;
        img {
          position: absolute;
        }
      }
      .txtIntro {
        text-align: left;
        padding: 135px 120px 135px 200px;
        h1 {
          font-size: 50px;
          padding: 0;
        }
        p {
          font-size: 18px;
          padding: 20px 0;
        }
      }
    }
    .whyChooseSection {
      text-align: left;
      padding: 50px 200px;
      background-color: hsl(0, 0%, 94%);
      .whyFirstArticle {
        margin-bottom: 20px;
        padding: 0;
        h2 {
          font-size: 40px;
          padding-top: 100px;
          br {
            display: none;
          }
        }
        p {
          padding: 20px 0;
          br {
            display: block;
          }
        }
      }
      .restWhyArticles {
        padding: 50px 30px 0 0;
        h3 {
          margin: 20px 0;
          font-size: 22px;
        }
        p {
          padding: 0;
        }
      }
    }
    .latestSection {
      background-color: white;
      padding: 0 200px;
      background-color: hsl(0, 0%, 94%);
      h4 {
        font-size: 40px;
        text-align: left;
        margin: 80px 0 30px;
        padding: 0;
      }
      .latestArticles {
        padding: 0 20px 50px 0;
        &:last-child {
          padding-bottom: 0;
        }
        img {
          height: 200px;
        }
        .articleTextDivs {
          padding: 20px 40px 30px;
        }
      }
    }
  }
}
